# ================================================================================================== #
# Secrets

# Secret Environment Variables
.env.local
.env.*.local

# Docker Secrets
.secrets/


# ================================================================================================== #
# Build Data

# Volumes
docker/
postgresql/
/redmine/

# ================================================================================================== #
# Debugging and Logging

# Log files
logs/

# ================================================================================================== #
